	
	<%- include("partials/header") -%>
    <h1>COMPOSE</h1>
	<form action="/" method="post">
		<label for="Title">Title</label>
		<input type="text" name="title">
		<label for="Post">Post</label>
		<textarea type="text" name="words"></textarea>
		<button type="submit" name="Publish" >Publish</button>
	</form>
	
	<%- include("partials/footer") -%>
    
