<%- include("partials/header") -%>
<div class="sign-up">
<form action="/profile" method="post">

<label for="Fullname">FULLNAME</label>
<input type="text" placeholder="FULLNAME" name="Fullname">
<label for="email">Email</label>
<input type="Email" placeholder="Email Address" name="email">
<label for="password">PASSWORD</label>
<input type="password" Placeholder="Password" name="password">
<label for="Cpassword">PASSWORD</label>
<input type="password" Placeholder="Confirm Password" name="Cpassword">
<button><a href="/welcome">Sign-up</a></button>
<label for="show-password">Show Password</label>
<input type="checkbox" name="show-password">


</form>
</div>
<%- include("partials/footer") -%>